@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  color: #0000;
  background-color: white;
  
}
h1 {
  color:black;
}
div {
  color:black;
}
span {
  color: black;
}

li {
  color: black;
}
