@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
  margin: 0;
  color: black;
  background-color: white;
  font-family: 'Open Sans', sans-serif;

  
  
}

div {
  color:black;
}
span {
  color: white;
}


.btn-wide,.btn-wide-action,.btn-wide-contrast,.btn-small,.btn-small-action {
  width: 100%;
  border: 1px solid #030212;
  background-color: transparent;
  color: #041836;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-family: 'Noto Sans Mono', monospace !important; 
}

.btn-wide:hover {
  background-color:#030212;
  color: #fff;

}

.btn-wide-action{
  background-color: #030212;
  color: #fff;

}

.btn-wide-action:hover{
  background-color: #14131b;
    color: #fff;

}

.btn-wide-contrast, .btn-big-wide-contrast{
  background-color: #00AD96;
  color: #ffffff;
  border-color: #00AD96;
  font-family: 'Noto Sans Mono', monospace !important;  
}

.btn-big-wide-contrast{
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 10pt;
  font-size: large;
}

.btn-wide-contrast:hover{
  box-shadow: 0px 0px 8px #16ECB3, inset 0px 0px 8px #FFFFFF !important;
}
.btn-big-wide-contrast:hover{
  box-shadow: 0px 0px 8px #16ECB3, inset 0px 0px 8px #FFFFFF !important;
}

.btn-small{
  width: 60%;
}

.btn-small-action{
  width: 10rem;
  background-color: #030212;
  color: #fff;
}

.btn-small:hover{
  background-color: #030212;
  color: #fff;
}

.btn-small-action:hover{
  background-color: #14131b;
  color: #fff;
}


.moralis-blue{
  background-color: #030212;
}


.scrolled-nav {
  background-color: white !important;
}

.transparent{
  background-color: transparent;
}

.cool-font{
  font-family: 'Noto Sans Mono', monospace !important; 
}

.nav-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.nav-sticky {
  position: sticky;
  top: 0;
  z-index: 100;
}


.space-color{
  background-color: #030212 ;
}

/* Add this to your CSS file */
.input-number::-webkit-inner-spin-button,
.input-number::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-number {
  -moz-appearance: textfield;
}


.scrollable-row {
  overflow-y: scroll;
}


.btn-nav {
  width: 100%;
  background-color: #00AD96;
  color: #ffffff;
  border-color: #00AD96;
  font-family: 'Noto Sans Mono', monospace !important; 
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}

.btn-nav:hover {  
  box-shadow: 0px 0px 8px #16ECB3, inset 0px 0px 8px #FFFFFF !important;
}